.urlInput{
  color:white;
  background-color:black;
  border-style: hidden;
  border-radius: 20px;
  height: 50px;
  width: 40%;
  outline-width: 0;
  padding-left: 20px;
  text-align: center;
}
.urlSubmitButton{
  border-style:none;
  border-radius: 20px;
  background-color:rgba(9,43,153,0.5);
  font-family: 'Share Tech Mono', monospace;
  color:white;
  width:13%;
  min-width: 80px;
  outline-width: 0;
  height:30px;
}

::placeholder {
  color: rgba(255,255,255,0.6);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
    -webkit-text-fill-color: white ;
}
::-webkit-input-placeholder {
   text-align: center;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
